<h1>Listing pirates</h1>

<table>
  <tr>
    <th>Pirate ID</th>
    <th>Beard Photo</th>
    <th colspan="3">Actions</th>
  </tr>

<% @pirates.each do |pirate| %>
  <tr>
    <td><%= pirate.id %></td>
    <td><%= image_tag pirate.beard_photo.url(:small) %></td>
    <td><%= link_to 'Show', pirate %></td>
    <td><%= link_to 'Edit', edit_pirate_path(pirate) %></td>
    <td><%= link_to 'Destroy', pirate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pirate', new_pirate_path %>
